* {
  padding: 0;
  margin: 0;
  margin-bottom: 0; 
}
h1, p {
  background: rgba(243, 221, 221, 0.7);
  display: inline-block;
    color: rgb(0, 0, 0);
}
#loseScreen {
  padding: 25em;
  text-transform: uppercase;
  color: yellow;
  text-emphasis: initial;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url("../img/Lose-Screen.png");
}
#winScreen{
  padding: 24em;
  text-transform: uppercase;
  color: yellow;
  text-emphasis: initial;
  text-align: center;
  background-size: cover;
  background-image: url("../img/winScreen.jpeg");
}
canvas{
  display: block;
}
.bloqueo {
  display:none;
}

a {
  color: black;
  text-emphasis: initial;
  text-decoration: none
}